
.main{
	background-color:aqua;
	display:flex;
	margin-left:7px;
	margin-right:7px;
	margin-bottom:0;
}
.m1{
	background-color:bisque;
	margin:0;
	height:90px;
	width:200px;
}
.m2{
	background-color:darkgray;
	width:80%;
}


ul{
	margin-right:60px;
	margin-top:0px;
	padding-top:25px;
	
}
.f{
    background-color:limegreen;
	height:60px;
	position:fixed;
	bottom:0;
	width:100%;
}