*{
	margin:0;
	padding:0;
}
.main{
	display: flex;
	margin:2px;
	padding:2px;
}

.right{
	background-color: darkgray;
	height:230px;
}

.up{
	background-color:bisque;
	height:90px;
	width:200px;
}
.down{
	background-color:aqua;
	height:140px;
	width:200px;
	
}

ul{
	margin-left:40px;
	padding-top:20px;
	
}
.f{
	background-color:limegreen;
	height:60px;
	position:fixed;
	bottom:0;
	width:100%;
}