.main{
	border: 1px solid forestgreen;
	background-color:aqua;
	display:flex;
}
.m1{
	background-color:aqua;
	margin:0;
}
.m2{
	background-color:darkgray;
	float:right;
}
.p{
	background-color:bisque;
	width:400px;
	height:90px;
	float:left;
}